{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Panadería Independencia</title>
    <style>
      .im {
        color: white !important;
      }
    </style>
  </head>
  <body>
    <div
      marginwidth="0"
      marginheight="0"
      style="
        width: 100% !important;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
        background-color: #ffffff;
        background-image: none;
        background-repeat: repeat;
        background-position: top left;
      "
    >
      <img
        src="https://ci4.googleusercontent.com/proxy/IRgsHKSmcfJm0PSzCnTLnGlBqS9PRqN4xoiHhJuJLZ5d93nOfuqvPGyOkX8fLIF5Onxeg76HI9uYqcu24xFOJg0kY42bVQ2792f7P61HBWRaWukfTj9RJZhA8s49YJPh1dHD_k9twJmd8VvH2kBSR5e6gry1L_hPln4VylRNd_Q3qjPFRcKIUi4vLUNdEOrn40hDKWpqE87-tGsP2QZ2-4dX4q94Qp77NPGUI3sXOoME3_XqyJWb57k=s0-d-e1-ft#https://click.mail.disneyplus.com/open.aspx?ffcb10-fef412787d6401-fe2c167375650d7f7c1479-fe3311717064047b741678-ff951579-fe25167475650178721d79-ff2f15747062&amp;d=100136"
        width="1"
        height="1"
        class="CToWUd"
      />
      <table
        role="presentation"
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        width="100%"
      >
        <tbody>
          <tr>
            <td align="center">
              <table
                role="presentation"
                align="center"
                border="0"
                cellpadding="0"
                cellspacing="0"
                style="font-family: Arial, Helvetica, sans-serif; width: 480px"
              >
                <tbody>
                  <tr>
                    <td>
                      <table
                        role="presentation"
                        cellpadding="0"
                        cellspacing="0"
                        border="0"
                        width="100%"
                      >
                        <tbody>
                          <tr>
                            <td align="center" valign="top">
                              <table
                                role="presentation"
                                align="left"
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                width="100%"
                              >
                                <tbody>
                                  <tr>
                                    <td style="border: 0px">
                                      <table
                                        role="presentation"
                                        border="0"
                                        cellspacing="0"
                                        cellpadding="0"
                                        width="100%"
                                      >
                                        <tbody>
                                          <tr>
                                            <td align="left" valign="top">
                                              <table
                                                role="presentation"
                                                width="100%"
                                                cellpadding="0"
                                                cellspacing="0"
                                                border="0"
                                              >
                                                <tbody>
                                                  <tr>
                                                    <td width="100%">
                                                      <table
                                                        role="presentation"
                                                        width="100%"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        border="0"
                                                        bgcolor="#07113e"
                                                      >
                                                        <tbody>
                                                          <tr>
                                                            <td
                                                              class="
                                                                inner
                                                                contents
                                                                center
                                                              "
                                                              style="
                                                                padding-top: 15px;
                                                                padding-bottom: 15px;
                                                                padding-right: 30px;
                                                                padding-left: 30px;
                                                                text-align: left;
                                                              "
                                                            >
                                                              <h1
                                                                style="
                                                                  color: white;
                                                                  text-align: center;
                                                                "
                                                              >
                                                                Panadería
                                                                Independecia
                                                              </h1>
                                                            </td>
                                                          </tr>
                                                          <tr>
                                                            <td
                                                              align="left"
                                                            ></td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                      <table
                                                        role="presentation"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        border="0"
                                                        style="width: 480px"
                                                      >
                                                        <tbody>
                                                          <tr>
                                                            <td align="center">
                                                              <table
                                                                role="presentation"
                                                                width="100%"
                                                                cellpadding="0"
                                                                cellspacing="0"
                                                                border="0"
                                                                bgcolor="#07113e"
                                                              >
                                                                <tbody>
                                                                  <tr>
                                                                    <td
                                                                      class="
                                                                        inner
                                                                        contents
                                                                        center
                                                                      "
                                                                      style="
                                                                        padding-top: 15px;
                                                                        padding-bottom: 15px;
                                                                        padding-right: 30px;
                                                                        padding-left: 30px;
                                                                        text-align: left;
                                                                      "
                                                                    >
                                                                      <p
                                                                        class="
                                                                          description
                                                                          center
                                                                        "
                                                                        style="
                                                                          font-family: 'Muli',
                                                                            'Arial Narrow',
                                                                            Arial;
                                                                          margin: 0;
                                                                          text-align: center;
                                                                          max-width: 320px;
                                                                          color: #a1a8ad;
                                                                          line-height: 24px;
                                                                          font-size: 15px;
                                                                          margin-bottom: 10px;
                                                                          margin-left: auto;
                                                                          margin-right: auto;
                                                                        "
                                                                      >
                                                                        <span
                                                                          style="
                                                                            color: white;
                                                                            font-family: Muli,
                                                                              'Arial Narrow',
                                                                              Arial;
                                                                            font-size: 15px;
                                                                            text-align: center;
                                                                          "
                                                                        >
                                                                          Pedido
                                                                          {{pedido.get_id_texto}}
                                                                          anulado.
                                                                          ¡Vuelve
                                                                          pronto!
                                                                        </span>
                                                                      </p>
                                                                    </td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td
                                                                      align="left"
                                                                    ></td>
                                                                  </tr>
                                                                </tbody>
                                                              </table>
                                                            </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
